:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --header-bg: #f4f4f4;
  --section-bg: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  background-color: var(--header-bg);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  background-color: var(--section-bg);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2, h3 {
  color: var(--text-color);
}

.social-links a {
  margin-right: 1rem;
  color: var(--text-color);
}

#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body.dark-mode {
  --bg-color: #333333;
  --text-color: #ffffff;
  --header-bg: #222222;
  --section-bg: #444444;
}

@media (max-width: 600px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  nav ul li {
      margin: 0.5rem 0;
  }
}